<?xml version="1.0"?>
<launch>

    <arg name="parse" default="false"/>
    <!-- spawn world -->
    <include file="$(find usv_sim)/launch/world/spawn_world.launch"  unless="$(arg parse)" />
    <!-- spawn robot -->
    <include file="$(find usv_sim)/launch/models/diff_robots.launch"  unless="$(arg parse)" />
    <!-- start rviz -->
    <include file="$(find usv_sim_rviz)/launch/navigation_rviz.launch"  unless="$(arg parse)" />

</launch>
